.wrapper {
    height: 100%;
    background-color: grey;
}

.start {
    display: block;
    min-width: 100px;
    min-height: 100px;
    background-color: green;
    left: -100%;
    position: relative;
}