:root {

    --orange: #ff7613;
    --orange-vibrant: #ff4601;

    --yellow: #ffedab;
    --brown: #8f4740;


    --white: #ffffff;
    --black: #00001c;

    --blue-vibrant: #0ec2d3;
    --blue-light: #e0fefd;

    --grey: #1c2028;
    --grey-2: #1d2129;
    --grey-3: #1f222a;
    --grey-4: #20232b;
}