@use './assets/breakpoints';

.logo {

}

.header {
 display: flex;
 justify-content: space-between;
 background-color: var(--grey);
}

@media (max-width: breakpoints.$mobile-breakpoint) {
    .header {
        :nth-child(1) {
            order: 2
        }
        :nth-child(2) {
            order: 3
        }
        :nth-child(3) {
            order: 1
        }
    }
}